<!DOCTYPE HTML>
<html>
	<head>
		<title>Miracle 2 Cloud</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" type="image/x-icon" href="static/images/f1.png">
	</head>
	<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="#top">Top</a></li>
					<li><a href="#course">Course</a></li>
					<li><a href="#topics">Topics</a></li>
					<li><a href="#join">Join-Class</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<article id="top" class="wrapper style1">
				<h1 style="text-align: center;color: brown"><strong style="color: brown">"Docker & Kubernetes"</strong></h1>
						<h2 style="text-align: center;color: brown">Classes commences on 29th Aug - <a href="https://join.skype.com/wHpOYb7LPl1C" style="color: blue">Join Here</a></h2>	
						<h3 style="text-align: center;color: brown"><strong style="color: brown">Timings: 7:30am to 9:00am IST</strong></h3>
				<div class="container">
									
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img src="static/images/i5.png" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1><strong>Miracle2Cloud</strong></h1>
							</header>
							<p>Welcome to <strong>Miracle2Cloud</strong>, a place to excel in Cloud Computing. Empowering people to collaborate, learn and grow along with top professionals in the industry</p>
							<a href="#course" class="button large scrolly">Learn about what we do</a>
						</div>
					</div>
				</div>
			</article>

		<!-- course -->
			<article id="course" class="wrapper style2">
				<div class="container">
					<header>
						<h2>Here's all the stuff we do.</h2>
						<p>We offer the following courses...</p>
					</header>
					<div class="row aln-center">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon solid featured fa-cloud"></span>
								<h3>Google Cloud Platform</h3>
								<p>Google Cloud Platform (GCP) is a suite of cloud computing services. GCP provides IaaS, PaaS, and serverless computing environments.</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon solid featured fa-cubes"></span>
								<h3>Kubernetes</h3>
								<p>Kubernetes (K8s) is an open-source container orchestration system for automating software deployment, scaling, and management.</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon featured brands fa-docker"></span>
								<h3>Docker</h3>
								<p>Docker is a set of platform as a service (PaaS) products that use OS-level virtualization to deliver software in packages called containers.</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon regular featured fa-file-code"></span>
								<h3>Terraform</h3>
								<p>Terraform is an open-source IaaS software tool. Automate Infra on Any Cloud. Provision, change, version resources on any environment.</p>
							</section>
						</div>
					</div>
					<footer>
						<p>Also covering other top-notch technologies...</p>
						<a href="#topics" class="button large scrolly">Glance through the Course Content</a>
					</footer>
				</div>
			</article>

		<!-- topics -->
			<article id="topics" class="wrapper style3">
				<div class="container">
					<header>
						<h2>Course Content.</h2>
						<p>The following shows high level Course Content for each topic</p>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="static/images/pic01.jpg" alt="" /></a>
								<h3><a href="#">Google Cloud Platform</a></h3>
								<p>GCP Core Topics</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="static/images/pic02.jpg" alt="" /></a>
								<h3><a href="#">GCP Part 2</a></h3>
								<p>GCP Extended Topics</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="static/images/pic03.jpg" alt="" /></a>
								<h3><a href="#">Kubernetes</a></h3>
								<p>Kubernetes Core Concepts</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
								<h3><a href="#">Kubernetes Part 2</a></h3>
								<p>GKE - Google Kubernetes Engine</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
								<h3><a href="#">Docker</a></h3>
								<p>All about Docker</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="static/images/pic06.jpg" alt="" /></a>
								<h3><a href="#">Terraform</a></h3>
								<p>Terraform to Provision any Cloud</p>
							</article>
						</div>
					</div>
					<footer>
						<p>Need more details?</p>
						<a href="#contact" class="button large scrolly">Get in touch with us</a>
					</footer>
				</div>
			</article>

		<!-- Contact -->
			<article id="contact" class="wrapper style4">
				<div class="container medium">
					<header>
						<h2>Get the info you're looking for right now.</h2>
						<p>Please use this form to contact us and we will get back to you as soon as possible!</p>
					</header>
					<div class="row">
						<div class="col-12">
							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-small">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="col-6 col-12-small">
										<input type="text" name="email" id="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<input type="text" name="subject" id="subject" placeholder="Subject" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
											<li><input type="reset" value="Clear Form" class="alt" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
						<div class="col-12">
							<hr />
							<!--<h4>New Batch Starts From 27th June</h4>-->
							<h4>Docker & Kubernetes Classes starts from 29th August</h4>
							<h5>Timings: 7:30am to 9:00am IST</h5>
							<h3>Join Class on...</h3>

							<ul id="join" class="social">
								<!--<li><a href="https://join.skype.com/vChmqydnH3qE" class="icon brands fa-skype"><span class="label">Skype</span></a></li> -->
								<li><a href="https://join.skype.com/wHpOYb7LPl1C" class="icon brands fa-skype"><span class="label">Skype</span></a></li>
								<!--<li><a href="#" class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								
								<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
								
								<li><a href="#" class="icon solid fa-rss"><span>RSS</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-foursquare"><span>Foursquare</span></a></li>
								<li><a href="#" class="icon brands fa-soundcloud"><span>Soundcloud</span></a></li>
								<li><a href="#" class="icon brands fa-youtube"><span>YouTube</span></a></li>
								<li><a href="#" class="icon brands fa-blogger"><span>Blogger</span></a></li>
								<li><a href="#" class="icon brands fa-flickr"><span>Flickr</span></a></li>
								<li><a href="#" class="icon brands fa-vimeo"><span>Vimeo</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
								<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
								-->
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; 2022. All rights reserved.</li><li>Design: <a href="#">Miracle2Cloud</a></li>
						</ul>
					</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>